{
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html",
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
