{% for video in videos %}
    <div class="card-container">
      <header class="card-header p-4">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="images/youtube.png" alt="Placeholder image" />
            </figure>
          </div>
        </div>
        <div class="media-content">
          <a href={{video.uploader_url}} target="_blank">
            <p class="title is-4">{{video.channel}}</p>
            <p class="subtitle is-6">{{video.uploader_id}}</p>

          </a>
        </div>
      </header>

      <div class="card-content p-0">
        <figure class="image">
          <img class="card-image" src={{video.thumbnail}} alt="Placeholder image" />
        </figure>
        <div
          class="is-flex is-justify-content-space-between px-2 is-align-items-center"
        >
          <p class="subtitle is-5 mt-3">{{video.title}}</p>
          <div class="tag is-danger is-rounded">
            {{video.duration_string}}
          </div>
        </div>
      </div>
      <div
        class="is-flex is-justify-content-space-between px-2 is-align-items-center"
      >
        <span>
          <i class="fa-regular fa-eye"></i>
          <strong class="subtitle is-6 mt-3">{{video.view_count}}</strong>
        </span>
        <span>
          <i class="fa-regular fa-thumbs-up"></i>
          <strong class="subtitle is-6 mt-3">{{video.like_count}}</strong>
        </span>
      </div>

      <footer x-data class="card-footer is-flex is-justify-content-space-between px-2">
        <div class="select">
         <select x-ref="format">
        <optgroup label="Audios">
              <option value="mp3">mp3</option>
              <option value="m4a">m4a</option>
              <option value="wav">wav</option>
          </optgroup>
          <optgroup label="Videos">
            <option value="mkv">mkv</option>
            <option value="mov">mov</option>
            <option value="mp4">mp4</option>
            <option value="webm">webm</option>
            <option value="flv">flv</option>
          </optgroup>
        </select>

        </div>

        <button @click=" await download('{{video.url}}',$refs.format.value,'{{video.title}}')" class="button is-danger">Download</button>
      </footer>
    </div>
{% endfor %}
