<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="uuid" content="{{uuid}}">
    <title> nestYt-{{type}}</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body >
     <h1
      class="is-flex is-justify-content-center is-align-items-center is-size-1 has-text-grey-dark my-3"
    >
    <img src="/images/NestJS.svg" width="100" class="mr-2" />
    Nest Youtube </h1>
    <h1 class="has-text-grey-dark is-size-3 has-text-centered my-3"> Choose download Type: </h1>
    <div style="width:40%;margin:auto" class="is-flex is-justify-content-space-between">
        <a class="button is-danger is-size-4">Video</a>
        <a class="button is-danger is-size-4">Playlist</a>
    </div>
</body>